html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

div * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-content: center;
}
.big{
  padding: 0;
  margin: 1;
  box-sizing: border-box;
  align-content: center;
  background-color: white;
  border: 1px solid #000;
  width: 120px;
  height: 120px;
  float: left;
  margin: 3px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  font-size: 30pt;
  padding: 0 0 0 6px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  align-content: center;
}
.game--status{
   font-size:25px ;
   text-align: center;
}
.game--restart {
  background-color: #f7e4ac;
  width: 100px;
  height: 50px;
  font-size: 15px;
  color: #0b0b0b;
  box-shadow: 2px 2px 2px 2px #d86c23;
  border: 2px solid #d86c23;
  align-self: center;
}
.game--title {
  font-size: 100px;
  color: #373535;
  margin: 50px auto;
  text-align: center;
}
.player {
  font-size: 20px;
  color: #373535;
  margin: 50px auto;
  text-align: center;
}
#turn {

  justify-content:center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-style: inset;
  text-align: center;
  padding: 5px 0 0 0;
  background: rgb(187, 137, 137);
  transition: .85s linear;
  
}

.turnhighlight {
  background: #5cb85c !important;
  color: #fff;
}

#game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 20px auto;
  justify-content: center;
}
.decorate {
  background-color: #f7e4ac;
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: #171819;
  box-shadow: 2px 2px 2px 2px #c5a691;
  border: 2px solid #d5b49d;
  text-align:center ;
}
  

.cellprefix {
  width: 100px;
  height: 100px;
  max-width: 50px;
  max-height: 50px;
  float: left;
  margin: 3px;
  padding: 15px 0 0 20px;
}

.gamecell {
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  float: left;
  margin: 3px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  font-size: 30pt;
  padding: 0 0 0 6px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  align-content: center;
}

.gamecell:hover {
  color: #fff;
  background: rgba(37, 88, 228, 0.712);
  z-index: 2;
  transform: translate(10px, -10px);
  animation: neonBlueText 1.5s ease-in-out infinite alternate;
}

.grey {
  background: rgba(128, 128, 128, 0.801);
  align-content: center;
  position: relative;
}

.green {
  /*background: green !important;*/
  background: rgb(65, 161, 73) !important;
}
.design {
  background-color: #f7e4ac;
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: #171818;
  box-shadow: 2px 2px 2px 2px #c2997e;
  border: 2px solid #b1591f;
}
.shake-little:hover,
.shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }